name: build

on:
  push:
    branches: [main, dev]

  workflow_dispatch:

jobs:
  build-win:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '24.13.1'

      - name: Install dependecies
        run: npm ci

      - name: Set next build version
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm install --global semantic-release@17 && npm --no-git-tag-version --force version $(semantic-release --dry-run --plugins @semantic-release/release-notes-generator | grep -oE '# ([0-9]+.[0-9]+.[0-9]+)' | sed 's/# //')

      - name: Clean the project
        shell: pwsh
        run: |
          Remove-Item .git, .github, assets, logs -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item .editorconfig, .eslintrc.js, .gitignore, .prettierrc, README.md -Force -ErrorAction SilentlyContinue

      - name: Build the app
        run: npx package

      - name: Extract zip and prepare artifact
        shell: pwsh
        run: |
          Move-Item ../ao-loot-logger.zip ./ao-loot-logger-win.zip

      - uses: actions/upload-artifact@main
        with:
          path: ./ao-loot-logger-win.zip
          name: ao-loot-logger-win
          include-hidden-files: true
          if-no-files-found: error

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '24.13.1'

      - name: Install libpcap
        run: sudo apt-get install libpcap-dev -y

      - name: Install dependecies
        run: npm ci

      - name: Set next build version
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm install --global semantic-release@17 && npm --no-git-tag-version --force version $(semantic-release --dry-run --plugins @semantic-release/release-notes-generator | grep -oE '# ([0-9]+.[0-9]+.[0-9]+)' | sed 's/# //')

      - name: Clean the project
        shell: pwsh
        run: |
          rm -rf .git .github assets logs .editorconfig .eslintrc.js .gitignore .prettierrc README.md

      - name: Build the app
        run: npx package

      - name: Extract tar.gz and prepare artifact
        run: mv ../ao-loot-logger.tar.gz ./ao-loot-logger-linux.tar.gz

      - uses: actions/upload-artifact@main
        with:
          path: ./ao-loot-logger-linux.tar.gz
          name: ao-loot-logger-linux
          if-no-files-found: error
